{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">{{ form.instance.pk|yesno:"Editar Libro,Agregar Libro" }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">Título</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="id_author" class="form-label">Autor</label>
            {{ form.author }}
        </div>
        <div class="mb-3">
            <label for="id_published_year" class="form-label">Año de Publicación</label>
            {{ form.published_year }}
        </div>
        <div class="mb-3">
            <label for="id_categories" class="form-label">Categorías</label>
            {{ form.categories }}
        </div>
        <div class="mb-3">
            <label for="id_target_audience" class="form-label">Público Objetivo</label>
            {{ form.target_audience }}  
        </div>
        <div class="mb-3">
            <label for="id_in_stock" class="form-label">En Stock</label>
            {{ form.in_stock }}
            <label for="id_in_stock" class="form-check-label">Sí</label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'book_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
