{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary">{{ book.title }}</h2>
    
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Detalles del Libro</h5>
            <p class="card-text">
                <strong>Autor:</strong> {{ book.author }}<br>
                <strong>Categoria:</strong> {{ book.categories }}<br>
                <strong>Año de Publicación:</strong> {{ book.published_year }}<br>
                <strong>Público Objetivo:</strong> {{ book.target_audience }}<br> 
                <strong>Estado:</strong> 
                <span class="badge {% if book.in_stock %}bg-success{% else %}bg-danger{% endif %}">
                    {% if book.in_stock %}En Stock{% else %}Sin Stock{% endif %}
                </span>
            </p>

            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'book_update' book.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger">Eliminar</a>
                <a href="{% url 'book_list' %}" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
